html {font-family: Helvetica;
      font-size: 18px;
      font-weight: bold;
    }
.header {background-image: url("../images/glasses-bg.png");
         height: 30rem;
         /*display: flex;
         background-position: center;*/
         background-size: cover;
         width: 100%
       }
.header span {color: white;
                  padding-right: 1rem;
                  padding-top: 1rem;
                  padding-bottom: 1rem;
                  height: 1.5rem;
}
.topbanner {background: cadetblue;
      display: flex;
      align-items: center;
      margin-top: 1rem;
      width: 100%;
      }
.topbanner img {
                padding-left: 2rem;
                padding-right: 1rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                height: 1.5rem;
          }
.navmenu li {list-style-type: none;
             color: white;
             padding: 1rem 2rem;
             display: inline-flex;
}

.container {width: 960px;
            margin: 0 auto;
}
.jumbotron {background-color: white;
            padding: 1.5rem 5rem;
            float: right;
            line-height: 1.2;
            margin-top: 10rem;
}
.midsectionnav {display: flex;
                margin: 3rem;
                justify-content: center;
                height: 8rem;
                width: 960px;
                align-items: center;
}

.feature {width: 5rem;
          height: 8rem;
          display: flex;
          flex-direction: column;
          /*align-items: center;
          text-align: center;*/
          justify-content: space-between;

}
.midsectionnav h3 {margin-right: 6rem;
                  /*align-items: center;
                  text-align: center;*/
}
.introheading {display: flex;
               color: white;
}
.introheading h3 {background-color: cadetblue;
}
.othercontent p {margin-top: 1rem;
                 color: black;
                 margin-right: 5rem;
                 /*max-width: 35%;*/
}
#philo h3,
#appt h3 {width: 10rem;
          padding: .5rem 1.25rem;
          margin-top: 3rem;
          }

footer {background-color: azure;
        padding: 4rem 1rem 4rem 4rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
      }
footer img {padding-top: 4rem;
            padding-right: 1rem;
            padding-bottom: 4rem;
            padding-left: 4rem;

}
